* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background: #333;
    color: whitesmoke;
}
h1 {
    font-family: Algerian, sans-serif;
    color: lime;
}
input {
    margin: 10px;
    width: 200px;
}

button {
    background-color: firebrick;
    width: 80px;
    margin: 0 0 7px 0;
}

img {
    width: 150px;
    height: 150px;
}